#tagNameInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.tag_name_lbl{
  padding: 7px;
} 
.tag_edit_btn  {
  line-height: 1;
}
.tag_delete_btn  {
  line-height: 1;
  margin-left: 10px;
}
.action_btn{
  width: 28%;
}
  
